@import "../style/define/_mixin.scss";
@import "../style/define/_constant.scss";

.action {
  // width: 100px;
  // height: 100px;
  z-index: 100;
  // background: red;
  position: fixed;
  bottom: 30px;
  left: 10px;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: flex-end;

  text-align: right;
  .action-btn {
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
    box-shadow: -1px 3px 6px 1px rgba(0, 0, 0, 0.3);
    // padding: 10px 20px;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: none;
    // width: 130px;
    color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    i.fa {
      font-size: 20px;
      margin-bottom: 4px;
    }

    label {
      font-size: 9px;
    }

    &:hover {
      box-shadow: -1px 3px 6px 1px rgba(0, 0, 0, 0.6);
    }

    &:active {
      box-shadow: -1px 3px 6px 1px rgba(0, 0, 0, 0.4);
    }

    // &.action-rsvp {
    //   background: #99d3ea;
    //   color: #23596e;
    // }

    // &.action-check-in {
    //   background: #f4c2d8;
    //   color: #74314e;
    // }
  }
}
