
@import "../style/define/_mixin.scss";
@import "../style/define/_constant.scss";
.ads {
  font-family: $FONT-NORMAL;
  color: lighten($COLOR-THEME, 20);
  background: darken($COLOR-THEME-DARK, 20);
  padding: 10px 20px;
  padding-bottom: 45px;
  font-size: 12px;
}
