@import "./define/_constant.scss";
@import "./define/_mixin.scss";
* {
    word-break: keep-all !important;
    overflow-wrap: break-word;
    box-sizing: border-box;
}

.break-all {
    word-break: break-all !important;
}

html,
body {
    margin: 0;
    padding: 0;
}

html {

    height: 100%;
    width: 100%;
    min-width: 100%;
}

body {
    overflow-x: hidden;
    background: black;
    width: 100%;
    height: 100%;
}

.text-title{
    font-family: $FONT-TITLE;
    font-size: 30px;
    color: $COLOR-THEME;
    margin-top: 10px;
}

#app {
    margin: auto;
    box-shadow: 3px 4px 10px 2px rgba(0, 0, 0, 0.2);
    max-width: $APP-WIDTH;
    font-family: $FONT-NORMAL;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: $COLOR-TEXT;
}