@import "./define/_constant.scss";
@import "./define/_mixin.scss";


$SIZE : 35px;
$BORDER-SIZE : 2px;
$COLOR : $COLOR-TEXT;
$COLOR-WS : #1fa013;
$COLOR-FB : #3B5998;
$COLOR-TWITTER : #1DA1F2;

.btn-icon{
    @include flex;
    @include flex_align(center);
    justify-content: center;
    
    width: $SIZE;
    height: $SIZE;
    
    background: $COLOR;
    border-radius: 100%;
}

.btn-icon:hover{
    width: $SIZE - $BORDER-SIZE - 1;
    height: $SIZE - $BORDER-SIZE - 1;
    color:$COLOR;
    border: $BORDER-SIZE $COLOR solid;
    background: white;
}

.btn-icon:active{
    opacity: 0.8;
}

@mixin btnIconColor($btn_class, $color){
    .btn-icon.#{$btn_class}{
        background:$color;    
    }
    
    .btn-icon.#{$btn_class}:hover{
        color:$color;    
        border-color:$color;
        background: rgba(255,255,255,0.5);
    }
}

@include btnIconColor("btn-ws",$COLOR-WS);
@include btnIconColor("btn-fb",$COLOR-FB);
@include btnIconColor("btn-twitter",$COLOR-TWITTER);
