@import './define/_constant.scss';
@import './define/_mixin.scss';



.app-header {
  @include flex;
  @include flex_align(center);
  flex-flow: column;
  font-family: 'Great Vibes';
  justify-content: center;
  background-size:cover;
  background-position:center center;

  text-shadow: $SHADOW-TEXT;
  height: 100vh;
  color:$COLOR-THEME-DARK;

  .title{
    font-size : 80px;
    letter-spacing: 2px;
    line-height:  46px;
    margin-bottom: 20px;
    .and{
      font-size: 50%;
    }
  }

  .date{
    font-size: 40px;
  }
}