/* Color */

$COLOR-RED-LIGHT: #e24434;
$COLOR-RED: #EF272F;
$COLOR-RED-DARK: #82180d;
$COLOR-BLUE-LIGHT: #41a3fc;
$COLOR-BLUE: #0154A1;
$COLOR-BLUE-DARK: #031533;
$COLOR-GRAY-LIGHT: #edf2f6;
$COLOR-YELLOW: #FADA0C;

$COLOR-THEME : #91B1A1;
$COLOR-THEME-DARK : #6d8e7e;

$COLOR-TEXT :rgba(0,0,0,0.5);
$SHADOW-TEXT : 4px 8px 10px rgba(255, 255, 255, 1); // cast white glow effect

/* Dimension */
$HEADER-HEIGHT: 75px;
$LEFT-WIDTH: 300px;
$APP-WIDTH: 500px;