/* Color */

$COLOR-RED-LIGHT: #e24434;
$COLOR-RED: #ef272f;
$COLOR-RED-DARK: #82180d;
$COLOR-BLUE-LIGHT: #41a3fc;
$COLOR-BLUE: #0154a1;
$COLOR-BLUE-DARK: #031533;
$COLOR-GRAY-LIGHT: #edf2f6;
$COLOR-YELLOW: #fada0c;

// $COLOR-THEME : #a37e8f;
// $COLOR-THEME-DARK : #b896a5; // border
$COLOR-THEME: #7da6cc;
$COLOR-THEME-DARK: #6891b8; // border
$COLOR-THEME-SECONDARY:#74314e;


$COLOR-BACK: #fbfcfe;
$COLOR-TEXT: $COLOR-THEME;
$SHADOW-TEXT: 4px 8px 10px rgba(255, 255, 255, 1); // cast white glow effect

$FONT-NORMAL: Arial, Helvetica, sans-serif;
$FONT-TITLE: "Great Vibes";
/* Dimension */
$HEADER-HEIGHT: 75px;
$LEFT-WIDTH: 300px;
$APP-WIDTH: 500px;
